*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}


/* searchbike */

.main_image{
  display: flex;
  justify-content: center;
  margin-top:10rem;
}

.main_sec{
  margin-top: 7rem;

  }

/* .main_sec>.textBox{
  width:50rem;
  margin-left: 25rem;
  z-index: -1 ;
  
  
} */
/* .main_sec>.btn1{
  margin-left: 50rem;
  border-radius: 5px;

} */
.frm_2{
  margin-top: 7rem;
}
